In [1]:
# Q1 Write a Python program to find sum of elements in list?
a = [12,3345,678]
sum(a)

4035

In [2]:
# Q2 Write a Python program to  Multiply all numbers in the list?
b = [34,56,78]
prod= 1 
for i in b : 
    prod = prod * i 
print(prod)

148512

In [4]:
# Q3  Write a Python program to find smallest number in a list? 
c=[56,567,67]
min(c)

56

In [5]:
 # Q4 Write a Python program to find largest number in a list?
d=[883,344,67889]
max(d)

67889

In [6]:
# Q7 Write a Python program to print even numbers in a list?
r=[2,3,4,5,6,7,8,9]
for i in r : 
    if(i%2==0): 
        print(i)

2
4
6
8

In [9]:
 # Q8 Write a Python program to print odd numbers in a List?
u=[3,4,5,6,789,99,9999]
for y in u : 
    if(y%2!=0): 
        print(y)

3
5
789
99
9999

In [11]:
# Q11 Write a Python program to Count occurrences of an element in a list?
t=[5556,66,7888,3,3,444]
t.count(3)

2

In [1]:
# Q5  Write a Python program to find second largest number in a list? 
l = [455,6778,888990,234456,56767778889]
l.sort()
print(l[-2])

888990

In [11]:
# Q6 Write a Python program to find N largest elements from a list?
t=[12,34,56,78,89,9090,55566666]
n = 3
t.sort()
print(t[-n])

89

In [15]:
# Q9 Write a Python program to Remove empty List from List?
y=[123,456,[],56,[]]
print("the original list is "+ str(y))
e=[r for r in y if r != []]
print(" the list after removal is "+ str(e))

the original list is [123, 456, [], 56, []]
 the list after removal is [123, 456, 56]

In [ ]:
# Q10 Write a Python program to Cloning or Copying a list?
p=[12,34,56,78,99,8876778]
q=copy(p)
print
def copy(p):
    co=[u for u in p ]
    return co